<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ble.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E84CA611F0CE01D0004C186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E84CA721F0CE01E0004C186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E84CA7D1F0CE01E0004C186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
